.post__card {
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
}

.post__card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow 0.4s;
}

.post__card__details {
  cursor: pointer;
}
